<div class="login-container">
  <div class="login-card">
    <h2>🔑 Login</h2>
    <p class="subtitle">Please enter your info to access the system</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      

      <div class="form-group">
        <label for="username">Username</label>
        <input 
          type="text" 
          id="username" 
          formControlName="username" 
          placeholder="Enter your username"
          [class.error-input]="isFieldInvalid('username')"
        />
        <span class="error-text" *ngIf="isFieldInvalid('username')">
          Username is required.
        </span>
      </div>


      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password" 
          placeholder="••••••••"
          [class.error-input]="isFieldInvalid('password')"
        />
        <span class="error-text" *ngIf="isFieldInvalid('password')">
          Password must be at least 4 characters long.
        </span>
      </div>

      <div class="alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </button>
    </form>

    <div class="register-link">
      Don't have an account? <a routerLink="/auth/register">Register Now</a>
    </div>
  </div>
</div>